.main__items {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 970px;
  margin: auto;
  box-sizing: border-box;
  padding: 0px 0px 100px 0px;
  font-size: 24px;
}

.main__items:last-child {
  padding-bottom: 70px;
}

.main__items--title {
  margin-bottom: 15px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 35px;
}

.main__contents--button {
  margin-top: 20px;
  margin-top: 40px;
  padding: 15px;
  background: #2b0077;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  color: inherit;
}

.main__contents--button:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.main__items--link {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 180px;
  color: #fff;
}

.main__contents--code {
  background: #f5f5f5;
  border-radius: 40px;
  padding: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

.main__items--code {
  font-size: 18px;
}

@media (max-width: 981px) {
  .main__items {
    padding: 60px 10px 0px 10px;
    margin-bottom: 0px;
    align-items: flex-start;
    justify-content: start;
    flex-direction: column;
  }

  .react-reveal:nth-child(even) .main__items {
    flex-direction: column-reverse;
  }

  .main__items--link {
    width: 100%;
  }

  .main__items--code {
    margin: 0 auto;
    width: 80vw;
    margin-bottom: 20px;
  }

  .main__contents--button {
    margin-bottom: 20px;
    width: 70vw;
    margin: 0 auto;
  }
}

@media (min-width: 420px) {
  .code__indent-1 {
    margin-left: 20px;
  }

  .code__indent-2 {
    margin-left: 40px;
  }
}

@media screen and (min-width: 982px) {
  .main__chess {
    padding: 100px 0px 0px 0px;
  }

  .main__contents--code {
    width: 600px;
    margin: 0;
  }

  .main__items--title {
    margin: 0;
    margin-bottom: 20px;
  }

  .main__contents--button {
    width: 100%;
  }

  .main__items--link {
    align-self: center;
  }
}
