.team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #e5127d 25%, #2b0077 90%);
}
.developer__img {
    width: 170px;
    margin: 20px 0 20px 0;
}
.developer__block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}
.developer__name {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #E0FFFF;
}
.achivment__name {
    color: #000000;
    font-size: 20px;
}
.developer__role {
    font-size: 16px;
    font-style: italic;
    color: #000;
    padding-bottom: 10px;
}
/* 768 */
@media(min-width: 768px)  {
    .team {
        display: flex;
        flex-direction: row;
        background-color: #E0FFFF;
        width: 100%;
        justify-content: space-around;
    }
    .developer--wrapper {
        padding: 50px;
        margin: 0;
    }
}
