.about {
  margin: 0 auto;
  padding: 20px 16px;
}

.about__wrapper {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 260px;
}
.intro-p {
  font-size: 20px;
}
.about__subtitle,
.about__title {
  font-size: 35px;
  text-align: center;
}

.about__subtitle {
  margin: 30px 0 30px 0;
  background-image: linear-gradient(-100deg, rgba(255,250,150,0.15), rgba(208, 155, 224, 0.9) 100%, rgba(255,250,150,0.25) );
}

/* 768 */

@media (min-width: 768px) {
  .about__wrapper {
    font-size: 22px;
    min-width: 768px;
    padding: 25px 20px;
  }
}
