.lecture__title {
  font-size: 20px;
  margin: 0 0 16px;
}

.lecture__video {
  display: flex;
  align-self: center;
  width: calc(1280px / 5);
  height: calc(720px / 5);
}

@media (min-width: 480px) {
  .lecture__title {
    font-size: 24px;
  }

  .lecture__video {
    margin: 5px 0 10px;
    width: calc(1280px / 3);
    height: calc(720px / 3);
  }
}

@media (min-width: 768px) {
  .lecture__title {
    font-size: 32px;
  }

  .lecture__video {
    width: calc(1280px / 2);
    height: calc(720px / 2);
    margin: 10px 0 20px;
  }
}

@media screen and (min-width: 992px) {
  .lecture__title {
    font-size: 34px;
  }
}