.lecture {
  padding: 20px 16px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-width: 280px;
  align-self: center;
  align-self: stretch;
}

@media (min-width: 768px) {
  .lecture {
    padding: 30px 20px;
  }
}

@media screen and (min-width: 992px) {
  .lecture {
    margin: 0 auto;
    width: 780px;
    padding: 30px 40px;
  }
}

@media screen and (min-width: 1200px) {
  .lecture {
    margin: 0 auto;
    width: 940px;
    padding: 30px 40px;
  }
}
