.nav__item {
  display: inline-block;
}

.nav__link {
  text-decoration: none;
}

.nav__text {
  display: none;
}

.nav__search, .nav__about, .nav__lectures {
  width: 30px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.nav__search {
  border: none;
  cursor: pointer;
  outline: 0;
  background-color: transparent;
  background-image: url('../../img/search.png');
}

.nav__about {
  background-image: url('../../img/about.png');
}

.nav__lectures {
  background-image: url('../../img/lectures.png');
}

@media (min-device-width: 768px) {
  .nav__about, .nav__lectures {
    background-image: none;
    display: none;
  }

  .nav__search:hover {
    background-image: url('../../img/search-hover.png');
  }
  
  .nav__item {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .nav__link {
    display: flex;
    align-items: center;
  }

  .nav__text {
    display: inline;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2px;
  }

  .nav__item:hover .nav__text{
    color: #e2127a
  }
}
