.lecture__wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

@media screen and (min-width: 992px) {
  .lecture__inner {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding-right: 40px;
    flex-grow: 1;
  }

  .lecture__wrapper {
    background-color: #f1f1f1;
  }
}