.beeinterns__logo {
  display: flex;
  font-size: 33px;
  flex-direction: column;
  text-decoration: none;
  font-size: 120px;
  margin-left: auto;
  margin-right: auto;
}

.main__highlight {
  border-radius: 0.1em 0 0.1em 0;

  background-image: linear-gradient(
    -100deg,
    rgba(255, 250, 150, 0.15),
    rgba(208, 155, 224, 0.9) 100%,
    rgba(255, 250, 150, 0.25)
  );
  animation-name: appearance;
  animation-duration: 1s;
}

@keyframes appearance {
  0% {
    background-image: linear-gradient(
      -100deg,
      rgba(255, 250, 150, 0.15),
      rgba(208, 155, 224, 0) 100%,
      rgba(255, 250, 150, 0.25)
    );
  }
  25% {
    background-image: linear-gradient(
      -100deg,
      rgba(255, 250, 150, 0.15),
      rgba(208, 155, 224, 0.2) 100%,
      rgba(255, 250, 150, 0.25)
    );
  }
  50% {
    background-image: linear-gradient(
      -100deg,
      rgba(255, 250, 150, 0.15),
      rgba(208, 155, 224, 0.4) 100%,
      rgba(255, 250, 150, 0.25)
    );
  }
  75% {
    background-image: linear-gradient(
      -100deg,
      rgba(255, 250, 150, 0.15),
      rgba(208, 155, 224, 0.6) 100%,
      rgba(255, 250, 150, 0.25)
    );
  }
  100% {
    background-image: linear-gradient(
      -100deg,
      rgba(255, 250, 150, 0.15),
      rgba(208, 155, 224, 0.9) 100%,
      rgba(255, 250, 150, 0.25)
    );
  }
}

.main__title {
  font-size: 26px;
}

.main__title--text {
  font-size: 32px;
}

.main__content--text {
  font-size: 20px;
}

@media (max-width: 981px) {
  .beeinterns__logo {
    font-size: 70px;
  }

  beeinterns__logo .main__contents--code {
    font-size: 14px;
    padding: 10px;
  }
}

@media (max-width: 413px) {
  .beeinterns__logo {
    font-size: 50px;
  }
}

.main__items--text {
  margin-top: 0px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 970px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 480px) {
  .main__items--text {
    padding-left: 50px;
    padding-right: 50px;
  }

  .main__title--text {
    font-size: 40px;
  }
}

.main__logo {
  display: flex;
  flex-basis: 50%;
  font-weight: 400;
}
