.lecture__list {
  margin: 0;
  padding-left: 12px;
}

.lecture__item {
  list-style-type: none;
  margin: 5px 0;
  display: flex;
  align-items: center;
}

.lecture__list > .lecture__item:before {
  content: "";
  display: inline-block;

  border-right: 5px solid transparent;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #000000;
  margin-right: 8px;
}

.lecture__link {
  font-weight: 500;
  font-family: ubuntu, san-serif;
  text-decoration: none;
  color: #e2127a;
  word-break: break-word;
}

.lecture__link:hover {
  color: #b30e61;
}

.lecture__link:visited {
  color: #2b0077;
}

@media (min-width: 480px) {
  .lecture__link {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .lecture__list {
    margin: 0;
    margin: 0 0 18px;
  }

  .lecture__list > .lecture__item:before {
    border-right: 8px solid transparent;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #000000;
    margin-right: 12px;
  }

  .lecture__link {
    font-size: 22px;
    margin: 5px 0;
  }
}