.menu__wrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: "Ubuntu";
}

.tabs__item {
  position: relative;
}

.menu {
  transition: 0.4s ease-in-out;
  overflow: hidden;
}

.tabs__input:not(:checked) ~ .menu {
  max-height: 0;
  padding-bottom: 0;
  padding-top: 0;
}

.menu__button {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  padding: 5px 20px;
  display: block;
  background: #000;
  color: #f1f1f1;
  border-top: 0.5px solid #fff;
}

.menu__button::before {
  position: absolute;
  content: "";

  top: 8.5px;
  right: calc(50% + 35px);

  width: 10px;
  height: 10px;
  background-image: url(./img/arrow-white.svg);
  background-size: 10px 10px;
  transition: 0.3s;
}

.tabs__input:checked + .menu__button::before {
  transform: rotate(90deg);
}

.tabs__input {
  display: none;
}

.tabs__input:not(:checked) ~ .tabs__block {
  max-height: 0;
  padding-bottom: 0;
  padding-top: 0;
}

.tabs__input:checked + .tabs__title {
  border-bottom: 1px solid #dddddd;
}

.tabs__title {
  width: 100%;
  padding: 12px 25px 12px 20px;
  font-size: 13px;
  line-height: 15px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  background: #f1f1f1;
  cursor: pointer;
  color: #333333;
  font-weight: bold;
  border-bottom: 1px solid #dddddd;
}

.tabs__title:hover,
.sub__item:hover {
  color: #e2127a;
  -webkit-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}

.tabs__inner {
  font-size: 16px;
}

.tabs__block {
  width: 100%;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  max-height: 700px;
}

.tabs__block {
  transition: ease-in-out 0.3s;
  overflow: hidden;
}

.sub__item {
  margin-top: 0px;
  margin-bottom: 0;
  padding: 10px 0px 10px 30px;
  word-break: break-word;

  width: 100%;
  cursor: pointer;
  color: #333333;
  border-bottom: 1px solid #ddd;
  font-family: "Ubuntu";
}

.pink {
  color: #e5127d;
}

@media screen and (min-width: 992px) {
  .menu {
    margin-right: 15px;
    margin-top: -25px;
    max-width: 1000px;
    transition: 0.3s ease-in-out;
    max-height: 100vh;
    overflow: scroll;
  }

  .menu::-webkit-scrollbar {
    width: 0px;
  }

  .tabs__input:not(:checked) ~ .menu {
    max-width: 0;
    max-height: 10000px;
  }

  .tabs__input:checked + .tabs__title {
    border-bottom: 1px solid #dddddd;
  }

  .tabs__title {
    border: none;
    width: calc(100% - 20px);
  }

  .menu__button::before {
    cursor: pointer;
    top: 10px;
    left: 10px;

    width: 20px;
    height: 20px;
    background-image: url(./img/arrow-black.svg);
    background-size: 20px 20px;
    transform: rotate(180deg);
    transition: 0.3s;
    z-index: 2;
  }
  .tabs__input:checked + .menu__button::before {
    transform: rotate(0deg);
  }

  .tabs__block {
    width: 145px;
  }

  .menu__button {
    color: transparent;
    background-color: transparent;
    width: 20px;
    margin-left: auto;
  }

  .menu__button--text {
    visibility: hidden;
  }

  .sub__item {
    padding-left: 35px;
    border: none;
  }
}

@media screen and (min-width: 1200px) {
  .menu {
    margin-right: 35px;
  }
  .tabs__title {
    width: 100%;
    padding: 12px 30px 12px 20px;
  }

  .tabs__block {
    width: 170px;
  }
}
