.main__parallax {
  height: 400px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.parallax__text {
  margin: auto;
  position: absolute;
  width: 100%;
  bottom: 0px;
  height: 45px;
  top: 0px;
  text-align: center;
  font-size: 30px;
  z-index: 1;
  font-family: "Ubuntu", san-serif;
  color: #ffffff;
}

.parallax__layer {
  background-image: url(../../../img/center-line.png);
  background-size: 100% 100%;
  position: absolute;
  width: 100%;
  height: 150%;
  top: -60%;
  left: 0;
}

@media (min-width: 480px) {
  .parallax__text {
    font-size: 45px;
    height: 60px;
  }
}

@media (min-width: 768px) {
  .parallax__layer {
    top: -30%;
  }
  .parallax__text {
    font-size: 65px;
    height: 80px;
  }
}