.rating {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-content: flex-end;
}

.rating__text {
  font-family: ubuntu, sans-serif;
  margin: 0 0 8px;
  font-size: 16px;
  color: #000000;
}

.rating__inner {
  display: flex;
  flex-direction: column;
}

.rating__button {
  border-radius: 18px;
  border: none;
  padding: 6px 10px 8px;
  outline: none;
  background-color: #333;
  color: #ddd;
  transition: all 0.5s ease;
  cursor: pointer;
}

.rating__button:disabled {
  background-color: #ddd;
  color: #333;
  cursor: default;
}

.rating__form > .rating__button:hover {
  cursor: pointer;
}

.stars > input[type="radio"] {
  display: none;
}

.stars {
  display: flex;
  width: 110px;
  flex-direction: row-reverse;
  margin-bottom: 15px;
  position: relative;
}

.stars__full,
.stars__empty {
  position: absolute;
  display: flex;
}

.stars__wrapper {
  width: 100%;
  justify-self: flex-start;
  overflow: hidden;
  height: 30px;
}

.stars__inner {
  position: relative;
  height: 30px;
  overflow: hidden;
}

.stars > label,
.empty-star,
.full-star,
.half-star {
  background-size: 22px auto;
  width: 22px;
  height: 22px;
  padding-right: 10px;
  background-repeat: no-repeat;
}

.half-star {
  width: 11px;
}

.stars > input + label {
  padding-right: 25px;
  cursor: pointer;
}

.stars:not(:checked) > label,
.stars:not(:checked):hover > label,
.empty-star {
  transition: all 0.2s ease;
  background-image: url("img/empty-star.svg");
}

.stars:before{
  content: url("img/full-star.svg");
  content: url("img/empty-star.svg");
  width:0;
  height:0;
  visibility:hidden;
}

.stars > input:checked ~ label,
.stars:not(:checked):hover > label:hover ~ label,
.stars:not(:checked):hover > label:hover,
.full-star,
.half-star {
  transition: all 0.2s ease;
  background-image: url("img/full-star.svg");
}

@media (min-width: 480px) {
  .rating__text {
    font-size: 20px;
  }

  .stars {
    width: 120px;
  }

  .stars > label,
  .full-star,
  .empty-star,
  .half-star {
    background-size: 24px 26px;
    width: 24px;
    height: 26px;
  }

  .half-star {
    width: 12.5px;
  }
}

@media (min-width: 768px) {
  .rating__text {
    font-size: 22px;
  }

  .stars > input + label {
    padding-right: 32px;
  }

  .stars {
    width: 150px;
  }

  .stars > label,
  .full-star,
  .empty-star,
  .half-star {
    background-size: 30px auto;
    width: 30px;
    height: 30px;
  }

  .half-star {
    width: 16px;
  }
}
