.footer {
    background-color: #212121;
}
.footer__block {
    max-width: 992px;
    margin: 0 auto;
}
.footer__wrapper {
    padding: 16px 0 16px 20px;
}
.footer__list {
    padding-left: 0;
}

.footer__li {
    margin-bottom: 8px;
    text-transform: none;
}
.bee {
    padding-top: 10px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #f1f1f1;
}
.footer__img {
    width: 25px;
}
.last:first-child {
    margin-right: 15px;
}
.footer__link:hover {
    color: #e2127a;
}

/* 768 */
@media (min-width: 768px) {
    .footer__wrapper {
        min-width: 768px;
        width: 100%;
        padding: 30px 60px 25px 60px;
    }
    .footer__link {
        padding-bottom: 8px;
        text-transform: capitalize;
        text-decoration-line: underline;
        color: #bac5d3;
        font-size: 17px;
        line-height: 26px;
    }
    .footer__list {
        display: flex;
    }
    .footer__block {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .footer__link {
        margin-right: 30px;
    }
    .footer__text {
        font-size: 20px;
        line-height: 30px;
        color: #bac5d3;
    }
    .footer__link:last-child {
        margin-right: 0;
    }
    .footer__img {
        width: 35px;
    }
    .second:hover:last-child {
        background-color: #f52f52;
        border: 1px solid #f52f52;
        border-radius: 50%;
    }
    .first:hover {
        border: 1px solid deepskyblue;
        border-radius: 50%;
        background-color: deepskyblue;
    }
}

/* 1440 */

@media (min-width: 1440px) {
    .footer__wrapper {
        min-width: 1360px;
        width: 100%;
        margin: 0 auto;
        padding: 20px 20px;
    }
    .footer__block {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    .footer__list {
        display: flex;
    }
    .footer__list ~ li {
        padding: 0;
    }
    .footer__link {
        padding-bottom: 0;
    }
    .footer__li {
        padding: 0;
    }
}