.logo {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: auto;
  height: 40px;
}

.logo__link {
  text-decoration: none;
}

.logo__text {
  top: 0;
  background: linear-gradient(135deg, #2b0077 25%, #e5127d 90%);
  padding: 0 1px 0 1px;
  color: #000;
  text-transform: uppercase;
  margin: 0 0 3px;
  font-size: 14px;
}

.logo__svg {
  top: 0;
  position: absolute;
  transform: translate( -19.5px, 12px);
  width: 40px;
  height: 30px;
}

.path, .path1, .path2 {
  transform: translate(-45px, -30px);
  transition: opacity 400ms ease-in-out;
}

.path {
  opacity: 1;
  stroke: #ffffff;
}



@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@media (min-width: 768px) {
  .logo {
    height: 55px;
  }

  .logo__link {
    display: flex;
    align-items: center;
  }

  .logo__img {
    display: block;
  }

  .logo__text {
    padding: 0 3px 0 5px;
    font-size: 20px;
    letter-spacing: 2px;
  }

  .logo__svg {
    top: 0;
    position: absolute;
    transform: translate( -66px, 25px);
    width: 65px;
    height: 30px;
  }
  .path1, .path2 {
    transform: translate(-45px, -30px);
  }
}

@media screen and (min-width: 768px) {
  .path1 {
    stroke: #e2127a	;
    stroke-dasharray: 110;
    stroke-dashoffset: 200;
    animation: draw 1s linear infinite;
  }
  
  
  .path1, .path2 {
    opacity: 0;
  }
  
  .logo:hover .path1, .logo:hover .path2 {
    opacity: 1;
  }
  
  .logo:hover .path {
    opacity: 0;
  }
}