.dev {
  background-image: linear-gradient(-100deg, rgba(255,250,150,0.15), rgba(208, 155, 224, 0.9) 100%, rgba(255,250,150,0.25) );
}
.developer__achivments {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #404754;
}
.achivments {
  font-size: 18px;
  display: flex;
  color: #b30e61;
  padding-left: 0;
}
.achivment {
  margin: 20px 0 20px 0;
}
.other > p {
  font-size: 20px;
  margin: 30px 0 30px 0;
}
.achivments__item {
  list-style: none;
  padding-bottom: 10px;
}
.achivments__item::before {
  content: "";
  display: inline-block;
  border-right: 8px solid transparent;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #000000;
  margin-right: 12px;
}
/* 768 */

@media (min-width: 768px) {
  .other__wrapper {

  }
  .developer__achivments {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .achivments__item::before {
    margin-right: 6px;
  }
}

/* 1220 */

@media (min-width: 1220px) {

  .developer__achivments {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

}
