.search__result {
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}

.search__link, .search__terms {
  color: #333;
  font-weight: bold;
}
.search__link {
  font-size: 18px;
}
.search__terms {
  font-size: 14px;
}

.search__link:hover .search__terms,
.search__link:hover {
  color: #e2127a;
  font-weight: bold;
}

@media (min-width: 768px) {
  .search__result {
    padding-bottom: 8px;
  }
  .search__link {
    font-size: 22px;
  }
  .search__terms {
    font-size: 18px;
  }
}

.search__terms {
  display: flex;
  white-space: nowrap;
  padding: 5px; 
  white-space: pre-wrap;
}
