.header {
  width: 100%;
  min-width: 280px;
  padding: 5px 30px;
  box-sizing: border-box;
  background-color: #000000;
}

.nav {
   position: relative;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__list {
  width: 70%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  
  .header {
    padding: 5px 50px;
  }

  .nav__list {
    align-items: center;
  }
}

@media screen and (min-width: 992px) {
  .nav{
    padding: 0 15px;
    max-width: 780px;
  }
}

@media screen and (min-width: 1200px) {
  .nav {
    max-width: 940px;
  }
}
