.lecture__section {
  display: flex;
  flex-direction: column;
}

.lecture__title,
.lecture__subtitle,
.lecture__text {
  white-space: pre-line;
  color: #000000;
  font-family: ubuntu, san-serif;
}

.lecture__subtitle {
  font-size: 18px;
  margin: 8px 0 12px;
  padding-top: 16px;
  border-top: 2px solid #dddddd;
}

.strong {
  font-weight: 500;
  text-decoration: underline;
}

.lecture__text {
  font-family: ubuntu, sans-serif;
  min-width: 0;
  font-size: 16px;
  margin: 0 0 12px;
  white-space: pre-wrap;
  line-height: 1.5;
}

.lecture__homework {
  word-break: break-word;
}

@media (min-width: 480px) {
  .lecture__subtitle {
    font-size: 22px;
  }

  .lecture__text {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .lecture__subtitle {
    font-size: 24px;
  }

  .lecture__text {
    font-size: 22px;
  }

  .lecture__text {
    margin: 0 0 18px;
  }
}
