.lecture__nav {
  display: flex;
  flex-direction: row;
  padding: 30px 0px 10px;
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.lecture__nav-link {
  color: #e2127a;
  font-size: 14px;
}

.lecture__nav-link:hover {
  color: #b30e61;
}

@media (min-width: 480px) {
  .lecture__nav-link {
    font-size: 20px;
  }
}
