.search {
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  z-index: 1;
  background-color: #f1f2f3;
  box-shadow: 0 -8px 30px 10px rgba(0, 0, 0, 0.3),
    inset 0 16px 40px -30px rgba(0, 0, 0, 0.6);
  padding: 5px 30px 10px;
  z-index: 2;
}

.search__overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.search__inner {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.search__input {
  padding: 6px 4px 6px 4px;
  margin-bottom: 10px;
  width: calc(100% - 40px);
  box-sizing: border-box;
  outline: none;
  background: transparent;
  border: none;
  border-bottom: 1px solid #333;
}

.search__button,
.search__button:hover {
  position: absolute;
  top: 5px;
  right: 10px;
  outline: none;
  background-image: url("./img/cross.svg");
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.search__loader {
  padding: 5px 0;
}

.search__results {
  background-color: transparent;
  width: 100%;
  padding: 10px 40px 10px 0;
}

.search__results :last-child {
  margin-bottom: 0px;
}

.search__noresults {
  font-weight: bold;
  font-size: 20px;
  padding: 5px 4px;
}

@media (min-width: 768px) {
  .search {
    top: 74px;
    padding: 12px 50px 10px;
  }

  .search__button,
  .search__button:hover {
    top: 3px;
    background-size: 28px 28px;
    width: 28px;
    height: 28px;
  }

  .search__input {
    width: calc(100% - 50px);
  }

  .search__results {
    padding: 10px 50px 15px 0;
  }


}

@media (min-width: 992px) {
  .search__inner {
    width: 760px;
  }
}

@media (min-width: 1200px) {
  .search__inner {
    width: 920px;
  }
}

@media screen {
  .search__button:hover {
    background-image: url("./img/cross-hover.svg");
  }
}
